<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Roshambo</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Player 1</h3>
          <p>Q = Rock</p>
          <p>W = Scissors</p>
          <p>E = Paper</p>
          @if(Model != null)
          {
            <p>Wins for Player 1: @Model.GetPlayer1Count()</p>
          }
        </div>
        <div class="col-sm-4">
          <h1>Roshambo!</h1>
          <form action='/result' method='post'>
            <div class="form-group">
              <label for="player-input">Enter in Your Choices</label>
              <input class="form-control" name="player-input" type="password">
            </div>
            <button type="submit" class="btn-danger">Roshambo It!</button>
          </form>
          @if(Model != null)
          {
            <h3>@Model.GetOutcome()</h3>
          }
        </div>
        <div class="col-sm-4">
          <h3>Player 2</h3>
          <p>I = Rock</p>
          <p>O = Scissors</p>
          <p>P = Paper</p>
          @if(Model != null)
          {
            <p>Wins for Player 2: @Model.GetPlayer2Count()</p>
          }
        </div>
      </div>
    </div>
  </body>
</html>
